.sign-up-page-pet-with-photo-yes-screen-div {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.sign-up-page-pet-with-photo-yes-screen-div-2 {
    background-color: #ffffff;
    border: 1px none;
    height: 812px;
    position: relative;
    width: 375px;
}

.sign-up-page-pet-with-photo-yes-screen-overlap {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 2px 2px 10px #00000040, -2px -2px 10px #00000040;
    height: 516px;
    left: 28px;
    position: absolute;
    top: 196px;
    width: 315px;
}

.sign-up-page-pet-with-photo-yes-screen-overlap-group-wrapper {
    height: 37px;
    left: 131px;
    position: absolute;
    top: 473px;
    width: 37px;
}

.sign-up-page-pet-with-photo-yes-screen-overlap-group {
    background-image: url(../../../static/img/vector-3.svg);
    background-size: 100% 100%;
    height: 34px;
    left: 2px;
    position: relative;
    top: 2px;
    width: 34px;
}

.sign-up-page-pet-with-photo-yes-screen-vector {
    height: 15px;
    left: 15px;
    position: absolute;
    top: 9px;
    width: 9px;
}

.sign-up-page-pet-with-photo-yes-screen-img {
    height: 3px;
    left: 9px;
    position: absolute;
    top: 15px;
    width: 15px;
}

.sign-up-page-pet-with-photo-yes-screen-next {
    height: 32px;
    left: 20px;
    position: absolute;
    top: 19px;
    width: 94px;
}

.sign-up-page-pet-with-photo-yes-screen-text-wrapper {
    color: #000000;
    font-family: "SF Compact Rounded-Semibold", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 92px;
}

.sign-up-page-pet-with-photo-yes-screen-vector-2 {
    height: 14px;
    left: 297px;
    position: absolute;
    top: 25px;
    width: 8px;
}

.sign-up-page-pet-with-photo-yes-screen-name {
    height: 53px;
    left: 18px;
    position: absolute;
    top: 60px;
    width: 281px;
}

.sign-up-page-pet-with-photo-yes-screen-div-wrapper {
    background-color: #f9c98373;
    border-radius: 10px;
    height: 53px;
    position: relative;
    width: 279px;
}

.sign-up-page-pet-with-photo-yes-screen-text-wrapper-2 {
    color: #6d7680;
    font-family: "SF Compact Display-Semibold", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 12px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 15px;
    width: 126px;
}

.sign-up-page-pet-with-photo-yes-screen-overlap-wrapper {
    height: 53px;
    left: 18px;
    position: absolute;
    top: 124px;
    width: 281px;
}

.sign-up-page-pet-with-photo-yes-screen-text-wrapper-3 {
    color: #6d7680;
    font-family: "SF Compact Rounded-Semibold", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 12px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 15px;
    width: 126px;
}

.sign-up-page-pet-with-photo-yes-screen-overlap-group3-wrapper {
    height: 53px;
    left: 18px;
    position: absolute;
    top: 188px;
    width: 281px;
}

.sign-up-page-pet-with-photo-yes-screen-text-wrapper-4 {
    color: #6d7680;
    font-family: "SF Compact Rounded-Semibold", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 12px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 15px;
    width: 146px;
}

.sign-up-page-pet-with-photo-yes-screen-overlap-group4-wrapper {
    height: 53px;
    left: 17px;
    position: absolute;
    top: 257px;
    width: 281px;
}

.sign-up-page-pet-with-photo-yes-screen-text-wrapper-5 {
    color: #747070;
    font-family: "SF Compact Rounded-Semibold", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 12px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 15px;
    width: 116px;
}

.sign-up-page-pet-with-photo-yes-screen-overlap-group5-wrapper {
    height: 137px;
    left: 17px;
    position: absolute;
    top: 331px;
    width: 281px;
}

.sign-up-page-pet-with-photo-yes-screen-overlap-2 {
    background-color: #f9c98373;
    border-radius: 10px;
    height: 137px;
    position: relative;
    width: 279px;
}

.sign-up-page-pet-with-photo-yes-screen-text-wrapper-6 {
    color: #6d7680;
    font-family: "SF Compact Rounded-Semibold", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 3px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 114px;
}

.sign-up-page-pet-with-photo-yes-screen-status-bar {
    height: 11px;
    left: 24px;
    position: absolute;
    top: 10px;
    width: 327px;
}

.sign-up-page-pet-with-photo-yes-screen-right-side {
    height: 11px;
    left: 260px;
    position: absolute;
    top: 0;
    width: 67px;
}

.sign-up-page-pet-with-photo-yes-screen-battery {
    height: 11px;
    left: 42px;
    position: absolute;
    top: 0;
    width: 24px;
}

.sign-up-page-pet-with-photo-yes-screen-img-2 {
    height: 11px;
    left: 22px;
    position: absolute;
    top: 0;
    width: 15px;
}

.sign-up-page-pet-with-photo-yes-screen-icon-bar-chart {
    height: 11px;
    left: 0;
    position: absolute;
    top: 0;
    width: 17px;
}

.sign-up-page-pet-with-photo-yes-screen-left-side {
    height: 11px;
    left: 0;
    position: absolute;
    top: 0;
    width: 28px;
}

.sign-up-page-pet-with-photo-yes-screen-text {
    height: 41px;
    left: 28px;
    position: absolute;
    top: 111px;
    width: 243px;
}

.sign-up-page-pet-with-photo-yes-screen-h-1 {
    color: #f9c983;
    font-family: "SF Compact Rounded-Bold", Helvetica;
    font-size: 34px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
}

.sign-up-page-pet-with-photo-yes-screen-overlap-group6 {
    background-color: #f9c983;
    border-radius: 100px;
    height: 49px;
    left: 231px;
    position: absolute;
    top: 740px;
    width: 119px;
}

.sign-up-page-pet-with-photo-yes-screen-text-wrapper-7 {
    color: #ffffff;
    font-family: "SF Pro Display-Bold", Helvetica;
    font-size: 18px;
    font-weight: 700;
    left: 40px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 13px;
}

.sign-up-page-pet-with-photo-yes-screen-overlap-group7 {
    background-image: url(../../../static/img/rectangle-26-1.svg);
    background-size: 100% 100%;
    height: 34px;
    left: 24px;
    position: absolute;
    top: 56px;
    width: 36px;
}

.sign-up-page-pet-with-photo-yes-screen-arrow {
    height: 11px;
    left: 11px;
    position: absolute;
    top: 11px;
    width: 14px;
}
